body {
  width: 86.25rem; }

.header {
  width: 100vw;
  display: flex;
  justify-content: center; }
  .header .header_box {
    width: 81.45vw;
    height: 6.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; }

.header_box_logo {
  width: 32.32vw;
  height: 2.5625rem;
  display: flex;
  justify-content: flex-start; }

.header_box_menu_ul {
  display: flex;
  width: 49.13vw;
  flex-direction: row;
  justify-content: space-between; }
  .header_box_menu_ul li {
    list-style-type: none; }
    .header_box_menu_ul li a {
      text-decoration: none;
      color: #635c73;
      font-family: Montserrat;
      font-size: 16px;
      font-weight: 700;
      line-height: 15px; }

.button {
  border-radius: 15px;
  background-color: #8d81ac;
  color: #ffffff;
  font-family: Montserrat;
  font-size: 21px;
  font-weight: 700;
  line-height: 20.45px; }

.section_1_box {
  background: url(../images/bg_img_desktop.png) no-repeat center;
  background-size: cover;
  position: relative;
  width: 100vw;
  height: 50rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; }

.section_1_box_heading {
  display: flex;
  justify-content: center;
  height: 20rem;
  align-items: space-around;
  flex-direction: column; }

.section_1_box_heading_h1 {
  color: #ffffff;
  align-self: center;
  font-family: Montserrat;
  font-size: 82px;
  font-weight: 700;
  line-height: 20.45px; }

.section_1_box_heading_span {
  display: block;
  color: #8d81ac;
  font-family: Lato;
  font-size: 30px;
  font-weight: 400;
  line-height: 20.45px; }

.section_1_box_heading_span_2 {
  display: flex;
  justify-content: center;
  color: #848e97;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 20.45px;
  text-transform: uppercase;
  padding-top: 20px; }

.section_box_1_button {
  height: 30rem;
  display: flex;
  align-items: flex-end;
  position: absolute;
  bottom: -10px; }

.section_2_box {
  height: 24.5rem;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center; }

.section_2_box_text {
  height: 16.875rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 54.6875rem; }

.section_2_box_text_span {
  opacity: 0.8;
  color: #323232;
  font-family: "Source Sans Pro";
  font-size: 21px;
  font-weight: 400;
  line-height: 32px; }

.section_2_box_text_h2 {
  color: #635c73;
  font-family: Montserrat;
  font-size: 54px;
  font-weight: 700;
  line-height: 20.45px;
  text-transform: uppercase;
  position: relative;
  top: 30px; }

.section_2_box_text_p {
  text-align: center;
  opacity: 0.8;
  color: #323232;
  font-family: "Source Sans Pro";
  font-size: 21px;
  font-weight: 400; }

.section_2_box_btnbox {
  width: 22.8125rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.section_2_box_btnbox_btn {
  border: solid 1px;
  border-color: #f1f1f1;
  border-radius: 3px; }

.sec_3 {
  width: 100vw;
  height: 44.4375rem;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: row; }

.sec_3_box_1 {
  width: 49%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 35rem;
  align-self: center; }

.sec_3_box_1_containers {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 31.5625rem; }

.sec_3_box_2 {
  width: 49%; }

.sec_3_box_1_containers_textbox {
  width: 21.875rem; }

.sec_3_box_1_container_textbox_span {
  color: #323232;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px; }

.sec_3_box1_containers_textbox_p {
  color: #848e97;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px; }

.sec_3_box_1_containers_img {
  align-self: flex-start; }

.sec_3_box_2_h2 {
  color: #8d81ac;
  font-family: Montserrat;
  font-size: 48px;
  font-weight: 700;
  line-height: 20.45px;
  position: relative;
  top: 40px;
  left: 23px; }

.sec_3_box_2_img {
  position: relative;
  top: 40px; }

.sec_4_box {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 36.8125rem; }

.sec_4_box_avabox {
  display: flex;
  flex-direction: row;
  justify-content: center; }

.sec_4_box_avabox_textbox {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  justify-content: center;
  line-height: 20px; }

.sec_4_box_avabox_textbox_span1 {
  color: #635c73;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 700;
  line-height: 22px; }

.sec_4_box_avabox_textbox_span2 {
  color: #8d81ac;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px; }

.sec_4_box_arrowbox {
  display: flex;
  flex-direction: column;
  justify-content: center; }

.sec_4_box_arrowbox_toppart {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

.sec_4_box_arrowbox_toppart_p {
  width: 45rem;
  text-align: center; }

.sec_4_box_arrowbox_toppart_leftimg {
  margin-right: 6.5rem; }

.sec_4_box_arrowbox_toppart_rightimg {
  margin-left: 6.5rem; }

.sec_4_box_arrowbox_botpart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; }

.sec_4_box_arrowbox_botpart_span {
  color: #848e97;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px; }

.sec_4_box_arrowbox_botpart_line {
  width: 48.75rem;
  height: 1px;
  background-color: #f4f4f4; }

.sec_4_box_btnbox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

.sec_4_box_btnbox_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 15rem;
  height: 3.125rem; }

.sec_4_box_btnbox_container_button {
  margin-bottom: 10px;
  color: #ffffff;
  font-family: Montserrat;
  font-size: 21px;
  font-weight: 400;
  line-height: 32px; }

.sec_5 {
  width: 100vw;
  height: 47.75rem;
  background: url(../images/bg_img_conyon.png);
  display: flex;
  justify-content: space-around; }

.sec_5_box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center; }

.sec_5_box_containersbox {
  flex-flow: row wrap;
  justify-content: center;
  display: flex;
  align-content: space-between;
  height: 25rem; }

.sec_5_box_containersbox_container {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center; }

.sec_5_box_h2 {
  color: #ffffff;
  font-family: Montserrat;
  font-size: 48px;
  font-weight: 700;
  line-height: 20.45px; }

.sec_5_box_containersbox_container_p {
  width: 20.375rem;
  text-align: center;
  color: #ffffff;
  font-family: "Source Sans Pro - Bold It";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px; }

.sec_6 {
  height: 54.875rem;
  width: 100vw;
  background-color: #4b3b4e; }

.sec_6_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around; }

.sec_6_box_h2 {
  color: #ffffff;
  font-family: Montserrat;
  font-size: 48px;
  font-weight: 700;
  line-height: 20.45px; }

.sec_6_box_containersbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: solid 3px;
  height: 28.5625rem; }

.sec_6_box_containersbox_container {
  display: flex;
  width: 16.0625rem;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; }

.sec_6_box_containersbox_container_spanname {
  color: #ffffff;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 400;
  line-height: 20.45px;
  text-transform: uppercase; }

.sec_6_box_containersbox_container_spanprice {
  color: #ffffff;
  font-family: Montserrat;
  font-size: 60px;
  font-weight: 700;
  line-height: 90.28px;
  text-transform: uppercase; }

.sec_6_box_containersbox_container_spaninfo {
  color: #ffffff;
  font-family: Montserrat;
  opacity: 0.3;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px; }

.sec_6_box_containersbox_container_spanpermonth {
  opacity: 0.3;
  color: #ffffff;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 90.28px;
  text-transform: uppercase; }

.sec_6_box_p {
  text-align: center;
  width: 53.875rem;
  opacity: 0.8;
  color: #a291a5;
  font-family: "Source Sans Pro";
  font-size: 14px;
  font-weight: 400;
  line-height: 21px; }

/*# sourceMappingURL=sass_styles.css.map */
